*{
	position: relative;
	box-sizing: border-box;
}

img{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;	
}
section{
	margin-bottom: 50px;
}
.card{
	border: 1px solid #000;
	border-radius: 10px;
	padding: 4px;
}
@media (max-width: 767) {
	.desk-top-img{
		display: none !important;
	}
}
@media (min-width: 768) {
	.phone-img{
		display: none !important;
	}
}
/*@media (min-width: 768) {
	.home4 .card{
		width: auto;
	}
}*/


.footer{
	background-color: #e9eaee;
}

.elements{
	border: 1px solid #000;
	border-radius: 10px;
	color: #000;
	font-size: 20px;
	padding: 8px;	
}
.footer ul{
	font-family: "Roboto", "Helvetica", "Noto Sans TC", "Arial", sans-serif;
	font-size: 18px;
	padding: 4px;
	color: #000;
	font-weight: 300;
}
.footer li{
	font-family: "Roboto", "Helvetica", "Noto Sans TC", "Arial", sans-serif;
	font-size: 16px;
	padding: 8px;
	color: #000;
	font-weight: 300;
}
.footer .elements ul a{
	color: #333333;

}
.fa-line{
	color: #00c300;
}
.fa-facebook-square{
	color: #3b5998;
}
.fa-youtube{
	color: #ff0000;
}
.fb-login-button{
	height: 300px;
}